pipeline/Parent Pipeline.json
{
	"name": "Parent Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteonPrem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Onprem_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						},
						"p_mapping_flight": {
							"value": "@pipeline().parameters.p_mapping_flight",
							"type": "Expression"
						},
						"p_mapping_passenger": {
							"value": "@pipeline().parameters.p_mapping_passenger",
							"type": "Expression"
						},
						"p_mapping_airline": {
							"value": "@pipeline().parameters.p_mapping_airline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteonPrem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteIncremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLToDatalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "FailureAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-24.northcentralus.logic.azure.com:443/workflows/a630ef50990246058439d16dcd3518ac/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=ibMAi-eESz0PSdd0IgTwofShI0_HxYHzy_jlKpy1ggk",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\",\n    \"status\" : \"@{activity('ExecuteIncremental').Status}\",\n    \"error\": \"@{if(equals(activity('ExecuteIncremental').status,'failed'), string(activity('ExecuteIncremental').error),'No error')}\"\n    \n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "dimFlight.csv"
					}
				]
			},
			"p_mapping_flight": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "flight_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "departure_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "arrival_time",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_passenger": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "passenger_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_mapping_airline": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "airline_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-12T07:07:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}